<template>
  <form @submit.prevent="sendForm">
    <div class="">
      <section>
        <b-field label="Nombre">
          <b-input
            type="text"
            v-model="model.Nombre"
            name="Nombre"
            required/>
        </b-field>
        <b-field label="Apellido">
          <b-input
            type="text"
            v-model="model.Apellido"
            name="Apellido"
            required/>
        </b-field>
        <b-field label="Correo">
          <b-input
            type="email"
            v-model="model.Correo"
            name="Correo"
            required/>
        </b-field>
        <b-field label="Teléfono">
          <b-input
            type="tel"
            v-model="model.Teléfono"
            name="Teléfono"
            required/>
        </b-field>
      </section>
      <section>
        <b-field
          horizontal
          label="Forma preferida de contacto">
          <div class="block">
            <b-radio
              v-model="model['Forma preferida de contacto']"
              native-value="Teléfono">Teléfono</b-radio>
            <b-radio
              v-model="model['Forma preferida de contacto']"
              native-value="Correo">Correo</b-radio>
          </div>
        </b-field>

      </section>
      <h5 class="title is-6">Información del vehículo</h5>
      <section>
        <b-field label="Año">
          <b-input
            type="text"
            v-model="model.year"
            name="year"
            required/>
        </b-field>
        <b-field label="Modelo">
          <b-input
            type="text"
            v-model="model.modelo"
            name="modelo"
            required/>
        </b-field>
        <b-field label="version">
          <b-input
            type="text"
            v-model="model.version"
            name="version"
            required/>
        </b-field>
        <b-field label="km">
          <b-input
            type="text"
            v-model="model.km"
            name="km"
            required/>
        </b-field>
        <b-field label="version">
          <b-input
            type="text"
            v-model="model.version"
            name="version"
            required/>
        </b-field>
        <b-field label="vin">
          <b-input
            type="text"
            v-model="model.vin"
            name="vin"
            required/>
        </b-field>
        <b-field label="comentarios">
          <b-input
            type="textarea"
            v-model="model.comentarios"
            name="textarea"
            required/>
        </b-field>
      </section>
      <section>
        <div class="field">
          <b-checkbox
            v-model="TOS"
            :required="true">Acepto el <nuxt-link to="/aviso-privacidad">Aviso de privacidad</nuxt-link> y las políticas de vive tu fin </b-checkbox>
        </div>
        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <button
              class="button is-link is-outlined"
              type="button"
              @click="$parent.close()">Cancelar</button>
          </p>
          <p class="control">
            <button
              type="submit"
              class="button is-primary">Enviar</button>
          </p>
        </div>
      </section>
    </div>
  </form>
</template>

<script>
/* eslint-disable no-console */
import axios from 'axios'

export default {
  name: 'TheForm',
  data: () => ({
    // Models
    TOS: false,
    model: {
      Fecha: '',
      Nombre: '',
      Teléfono: '',
      Correo: '',
      Adultos: 0,
      Niños: 0,
      sheetDestiny: 'Leads Vive tu Fin',
      'Forma preferida de contacto': '',
    },
  }),
  mounted() {
    const today = new Date()
    this.model.Fecha = today.toLocaleString()
  },
  methods: {
    handleResponse(response) {
      if (response && response.result) {
        this.isSuccess()
      } else if (response && response.mailResult.status) {
        console.warn('No se guardó en el drive, pero se envió al correo')
        this.isSuccess()
      } else {
        console.error('Algo malo sucede')
        this.error()
      }
    },
    isSuccess() {
      this.$toast.open({
        duration: 5000,
        message: 'Tu solicitud se envió correctamente',
        position: 'is-bottom',
        type: 'is-success',
      })
      this.$parent.close()
    },
    isError() {
      this.$toast.open({
        duration: 5000,
        message: 'Hubo un error enviando tu solicitud. Intentalo más tarde',
        position: 'is-bottom',
        type: 'is-danger',
      })
    },
    formatModel() {
      const formData = new FormData()
      Object.keys(this.model).forEach(key => formData.append(key, String(this.model[key])))
      return formData
    },
    sendForm() {
      if (!this.TOS) {
        this.$toast.open({
          duration: 5000,
          message: 'Necesitas aceptar las políticas de privacidad.',
          position: 'is-bottom',
          type: 'is-danger',
        })
        return
      }
      const url = ''
      const vm = this
      const formData = this.formatModel()
      axios.post(url, formData, {
        headers: {
          'Content-Type': 'application/formdata',
        },
      }).then(({ data }) => {
        vm.handleResponse(data)
      }).catch(() => {
        vm.$toast.open({
          duration: 5000,
          message: 'Hubo un error enviando tu solicitud. Intentalo más tarde',
          position: 'is-bottom',
          type: 'is-danger',
        })
      })
    },
  },
}
</script>

<style lang="scss" scoped>

</style>
