<template>
  <img
    @load="dimesrc"
    @error="dimesrc"
    :src="fallBackSrc"
    :srcset="srcset"
    :sizes="sizes">
</template>

<script>
export default {
  name: 'PictureResponsive',
  props: {
    src: {
      type: String,
      required: true,
    },
    alt: {
      type: String,
      default: 'Placeholder, please fill me',
    },
    sizes: {
      type: String,
      // Esto es el ancho esperado de la imagen de acuerdo al ancho
      // de la pantalla.
      default: '(min-width: 769px) 60vw, 85vw',
    },
    imageSizes: {
      type: Array,
      default: () => ([
        {
          separator: '-',
          word: 'small',
          size: '480w',
        },
        {
          separator: '-',
          word: 'medium',
          size: '720w',
        },
        {
          separator: '-',
          word: 'large',
          size: '1024w',
        },
        {
          separator: '-',
          word: 'full',
          size: '1980w',
        },
      ]),
    },
  },
  computed: {
    fallBackSrc() {
      const baseName = this.src.match(/\/(\S*)/)
      return `/images/${this.src}/${baseName[1]}${this.imageSizes[0].separator}${this.imageSizes[0].word}.jpg`
    },
    srcset() {
      const arrayOfSizes = []
      const baseName = this.src.match(/\/(\S*)/)
      for (let i = 0; i < this.imageSizes.length; i++) {
        const size = this.imageSizes[i]
        arrayOfSizes.push(`/images/${this.src}/${baseName[1]}${size.separator}${size.word}.jpg ${size.size}`)
      }
      return arrayOfSizes.join(', ')
    },
  },
  methods: {
    dimesrc(event) {
      // Old browser
      // if ( typeof img.currentSrc === "undefined" ) console.log( img.src );

      // Modern browser
      // console.log(`src: ${event.target.currentSrc}`, event.target.getBoundingClientRect())
      if (event.type === 'error') {
        this.$el.classList.add('NotLoaded')
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.NotLoaded {
  background-image: url(~/assets/broken.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #be3730;
  min-width: 200px;
  min-height: 200px;
}
</style>

