<template>
  <div class="brand_header">
    <div>
      <nuxt-link to="/">
        <img
          src="~assets/logo.png"
          alt="Mazda">
      </nuxt-link>
    </div>
    <div>Del Valle</div>
  </div>
</template>
<script>
export default {
  name: 'TheHeader',
  data: () => ({
    menuStatus: false,
  }),
  watch: {
    $route() {
      if (this.menuStatus) {
        this.menuStatus = false
      }
    },
  },
}
</script>
<style lang="sass" scoped>
@import "assets/sass/base/color.sass"
.brand_header
  position: fixed
  top: 0
  z-index: 3
  background-color: transparent
  display: flex
  align-items: center
  width: 100vw
  margin-top: 1rem
  div
    width: 50%
    text-align: center
    img
      margin: auto
      max-width: 90%
      max-height: 50px
    &:last-child
      border-left: 1px solid $white
      color: $white
</style>
